.main{
    display: flex;
    flex-direction: row;
}
.leftside{
    background: rgb(249,249,249);
    height: 1080px;
    width: 1098px;
}
.rightside{
    position: absolute;
    width: 822px;
    height: 1080px;
    right: 0px;
    top: 0px;
    background: #FFFFFF;
}
.headline{
    position: absolute;
width: 179px;
height: 29px;
left: 149px;
top: 47px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;

/* off black */

color: #1A1A1A;
}
.pagenumber{
 position: absolute;
width: 29px;
height: 24px;
left: 920px;
top: 49px;
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: right;
color: #1A1A1A;
}
.firsthr {
    position: absolute;
width: 798px;
height: 0px;
left: 150px;
top: 88px;
border: 1px solid #1A1A1A;
}


.label-error {
    color: #E52F2F;
}
.label-success {
    color: #98E37E;
}
.input-error {
    border-color: #E52F2F!important;
    }
    
.input-success {
    border-color: #98E37E!important;
    }
    
    .input-error:focus {
        outline:0 !important;
    }
    
    .input-success:focus {
        outline:0 !important;
    }
.firstnameerroricon{
    position: relative;
    bottom: 37px;
    left: 410px;
    
}
.firstnamesuccessicon{
    right: 28px;
    top: 3px;
    position: relative;
}
.emailerroricon{
    left: 810px;
    position: relative;
    bottom: 37px;
    
}
.emailsuccessicon{
    left: 777px;
    position: relative;
    bottom: 35px;
}

.positioninputdiv{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 24px;
gap: 8px;
width: 846px;
height: 125px;
}
.positionlabel{
width: 798px;
height: 21px;
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;
color: #000000;
}
.positioninput{
box-sizing: border-box;
width: 798px;
height: 48px;
background: #FFFFFF;
border: 1px solid #BCBCBC;
border-radius: 4px;
}
.positionsmall{
width: 798px;
height: 21px;
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
color: #2E2E2E;
}
.maindivforexperienceinputs{
    width: 800px;
    margin-left: 127px;
}
.heightsetterforform{
    margin-top: 157px;
}
.datesdiv{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 24px;
gap: 8px;
width: 419px;
height: 125px;
}
.datesinrow{
    display: flex;
}
.dateslabel{
width: 371px;
height: 21px;
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;
color: #000000;
}
.datesstyle{
box-sizing: border-box;
width: 371px;
height: 48px;
background: #FFFFFF;
border: 1px solid #BCBCBC;
border-radius: 4px;
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;
color: rgba(0, 0, 0, 0.6);
}
.descriptiondiv{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 24px;
gap: 8px;
width: 846px;
height: 168px;
}
.labeldescription{
width: 798px;
height: 21px;
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 21px;
display: flex;
color: #000000;
}
.descriptionstyle{
width: 798px;
height: 123px;
background: #FFFFFF;
border: 1px solid #BCBCBC;
border-radius: 4px;
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: rgba(0, 0, 0, 0.6);
}
.lasthr{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 22px;
    width: 798px;
    height: 0px;
    border: 1px solid #C1C1C1;
}
.addfieldsbutton{
margin-left: 151px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 18px 60px;
gap: 20px;
width: 289px;
height: 48px;
background: #62A1EB;
border-radius: 4px;
border-color: transparent;

}
.addfieldsbuttontext{
width: 247px;
height: 20px;
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
}
.submitbutton{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 18px 60px;
gap: 20px;
border: 0px;
width: 151px;
height: 48px;
background: #6B40E3;
border-radius: 4px;
}
.submitbuttontext{
width: 81px;
height: 20px;
font-family: 'HelveticaNeue';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.08em;
color: #FFFFFF;
}
.backbutton{
    margin-left: 100px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 18px 60px;
gap: 20px;
border: 0px;
width: 113px;
height: 48px;
background: #6B40E3;
border-radius: 4px;
margin-right: 537px;
}
.submitandbackbuttons{
    display: flex;
    flex-direction: row-reverse;
    width: 806px;
    margin-left: 151px;
    margin-top: 68px;
}

.positionerroricon{
    left: 810px;
    position: relative;
    bottom: 65px;
    
}
.positionsuccessicon{
    left: 773px;
    position: relative;
    bottom:  66px;
}
.selectdiv{
width: 419px;
height: 125px;

margin-top: 15px;
}
.selectstyle{
box-sizing: border-box;
width: 371px;
height: 48px;
background: #FFFFFF;
border: 1px solid #BCBCBC;
border-radius: 4px;
}
.selectanddatediv{
display: flex;
flex-direction: row;
margin-left: 24px;
}
.edudate{
    width: 419px;
    height: 125px;
    margin-top: 15px;
}