.main{
    display: flex;
    flex-direction: row;
}
.leftside{
    background: rgb(249,249,249);
    height: 1080px;
    width: 1098px;
}
.rightside{
    position: absolute;
    width: 822px;
    height: 1080px;
    right: 0px;
    top: 0px;
    background: #FFFFFF;
}
.headline{
    position: absolute;
width: 179px;
height: 29px;
left: 149px;
top: 47px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;

/* off black */

color: #1A1A1A;
}
.pagenumber{
 position: absolute;
width: 29px;
height: 24px;
left: 920px;
top: 49px;
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: right;
color: #1A1A1A;
}
.firsthr {
    position: absolute;
width: 798px;
height: 0px;
left: 150px;
top: 88px;
border: 1px solid #1A1A1A;
}
.labelfornameandlastname{
    width: 371px;
    height: 21px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 1000;
    font-size: 16px;
    color: #000000;
    margin-left: 24px;
}
.inputfornameandlastname{
    width: 371px;
    height: 48px;
    margin-left: 24px;
    
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    
    
}
.namediv{
    width: 419px;
    height: 122px;
    top: 157px;
    position: absolute;
    left: 126px;
}
.smallname{
width: 371px;
height: 21px;
margin-left: 24px;
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
color: #2E2E2E;
}
.lastnamediv{
    width: 419px;
    height: 122px;
    top: 157px;
    position: absolute;
    left: 552px;

}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 12px;
    gap: 10px;
    position: absolute;
    width: 107px;
    height: 27px;
    left: 401px;
    top: 315px;
    background: #0E80BF;
    border-radius: 4px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;

}
.photolabel{
    position: absolute;
width: 232px;
height: 22px;
left: 150px;
top: 325px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
color: #1A1A1A;
}
.aboutmediv{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 24px;
gap: 8px;

position: absolute;
width: 846px;
height: 148px;
left: calc(50% - 846px/2 - 411px);
top: 393px;
}
.aboutmelabel{
 width: 798px;
height: 21px;
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;
color: #000000;
margin-left: 5px;
}
.aboutmetextarea{
    width: 798px;
height: 103px;
background: #FFFFFF;
border: 1px solid #BCBCBC;
border-radius: 4px;
margin-left: 5px;
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
text-transform: lowercase;
}
::placeholder { 
    position: absolute;
height: 21px;
left: 16px;
right: 16px;
top: 13px;
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;
color: rgba(0, 0, 0, 0.6);
  }

.emaildiv{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 24px;
gap: 8px;

position: absolute;
width: 846px;
height: 122px;
left: calc(50% - 846px/2 - 411px);
top: 558px;

}
.emailinput{
box-sizing: border-box;
width: 798px;
height: 48px;
background: #FFFFFF;
border: 1px solid #BCBCBC;
border-radius: 4px;
margin-left: 5px;
}
.emaillabel{
    width: 798px;
height: 21px;
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;
color: #000000;
margin-left: 5px;
}
.smallemail{
    width: 798px;
height: 21px;
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
color: #2E2E2E;
margin-left: 5px;
}

.phonediv{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 24px;
gap: 8px;

position: absolute;
width: 846px;
height: 122px;
left: calc(50% - 846px/2 - 411px);
top: 693px;

}
.phoneinput{
box-sizing: border-box;
width: 798px;
height: 48px;
background: #FFFFFF;
border: 1px solid #BCBCBC;
border-radius: 4px;
margin-left: 5px;
}
.phonelabel{
    width: 798px;
height: 21px;
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;
color: #000000;
margin-left: 5px;
}
.smallphone{
    width: 798px;
height: 21px;
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
color: #2E2E2E;
margin-left: 5px;
}
.label-error {
    color: #E52F2F;
}
.label-success {
    color: #98E37E;
}
.input-error {
    border-color: #E52F2F;
    }
    
.input-success {
    border-color: #98E37E;
    }
    
    .input-error:focus {
        outline:0 !important;
    }
    
    .input-success:focus {
        outline:0 !important;
    }
.firstnameerroricon{
    position: relative;
    bottom: 37px;
    left: 410px;
    
}
.firstnamesuccessicon{
    right: 28px;
    top: 3px;
    position: relative;
}
.emailerroricon{
    left: 810px;
    position: relative;
    bottom: 37px;
    
}
.emailsuccessicon{
    left: 777px;
    position: relative;
    bottom: 35px;
}
.imgerroricon{
    left: 540px;
    position: relative;
    top: 303px;  
}
.imgsuccessicon{
    left: 540px;
    position: relative;
    top: 303px;
}
.submitbutton1{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 18px 60px;
gap: 20px;
margin-left: 804px;
border: 0px;
width: 151px;
height: 48px;
background: #6B40E3;
border-radius: 4px;
margin-top: 875px;
}
.submitbuttontext1{
width: 81px;
height: 20px;
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.08em;
color: #FFFFFF;
}

